<p id="notice"><%= notice %></p>

<p class="list-name">
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<!-- todo index -->

<div class="container">
  <div class="text-center">
    <table class="table">
      <thead>
        <tr>
          <th>
          <th>Description</th>
          <th>status</th>
          <!-- <th>Checkbox</th> -->
          <th colspan="3"></th>
        </tr>
      </thead>


      <tbody>
      <% @list.todo_items.each do |todo_item| %>
        <% unless todo_item.checkbox %>
          <tr id="<%= todo_item.id %>">
            <td><input type="checkbox" class="checkbox" id="<%= todo_item.id %>">  </td>
            <td><%= todo_item.description %></td>
            <td><%= todo_item.convert_state(todo_item.state) %></td>
            <td><%= link_to '', edit_list_todo_item_path(todo_item.list, todo_item), class: "fa fa-pencil-square-o fa-2x pencil" %></td>
            <td><%= link_to '', todo_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash fa-2x trash' %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <br>
  <div class="text-center">
  	<%= link_to 'New item', new_list_todo_item_path(@list) %>
    <!-- <a href="http://localhost:3000/todo_items/new" data-remote="true" id="new_link"><button type="button" class="btn btn-lg btn-primary">New Item</button></a> -->
  </div>
</div>

<!-- end todo index -->
	

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
